@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-dark-green min-h-screen w-full h-full
    }
}

h1,
h2,
h3
{
    font-family: 'Oswald', sans-serif;
}

main {
    min-width: 680px;
}

.tab {
    @apply border-cadmium-orange border-opacity-30
}

.tab.tab-active {
    @apply border-cadmium-orange border-b-2
}

.collapse-arrow .collapse-title:after {
    @apply left-0
}

.table th:first-child {
    z-index: auto;
}